html{
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #734f9a;
  
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.contact{
  width: 100%;
  list-style-type: none;
}
.contact__el{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.skill_list{
  width: 100%;
  list-style-type: none;
}
.skill_list__element{
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  align-content: center;
}
.giantrat{
  width: 50px;
}
.navbar__element {
  float: left;
}
.navbar__element__anchor {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar__element__anchor:hover {
  background-color: #111;
}

.header__img{
  width: 100%;
}

.slideshow-container {
    margin-top: 13px;
    max-width: 100%;
    position: relative;
    margin:0;
    padding:0;
  }

.mySlides {
    margin-top: 13px;
    display: none;    
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.container{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  background-color: #1d1a2f;
  color: #bbb;
  border-radius: 25px 8px 25px 8px;
}
.container__text{
  margin: 5%;
}
.container__text__about{
  margin:
   0.5%;
}
.container__text__about__indent{
  margin-left: 25px;
}
.container__about__title{
  display: inline-block;
  text-align: center;
}
.about__text{
  background-color: #00304E;
  box-shadow: -0.5em -0.5em 0em 0.5em #bbb;
  margin: 6%;
}
.button{
  align-self: flex-start;
  background-color: #965fd4;
  color: #1d1a2f;
  border-radius: 25px 25px 25px 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button:hover{
  color: #8bd450;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #333;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}


.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #965fd4);
  border-image-slice: 1;
}
.button__skills{
  align-self: flex-start;
  background-color: #965fd4;
  color: #1d1a2f;
  border-radius: 25px 25px 25px 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
}
.button__skills:hover{
  color: #8bd450;
}
.proj_img{
  width: 100%;
}